<%= form_with model: user, url:login_path do |f| %>
  <%= form_group f, user, :email, "Enter your email" %>
  <%= form_group f, user, :password, "Enter your Password" %>
  <%= content_tag :div, class:form_group_class+form_group_class_with_buttons do %>
    <%= f.submit "Login", class:login_button_class %>
  <% end %>
  <%= content_tag :div, class:form_group_class+" text-center" do %>
    <small><a href="/signup" class="card-link text-secondary">Don't have an account? Sign up here.</a></small>
  <% end %>
<% end %>
<%= content_tag :div, class:form_group_class+form_group_class_with_buttons do %>
  <%= link_to '/auth/facebook',class:"btn btn-lg loginBtn loginBtn--facebook d-flex flex-wrap", method: :post do %>
    <span class="facebook-login-title">Login With Facebook</span>
  <% end %>
<% end %>
