<%= form_with model: user, url:login_path do |f| %>
  <%= form_group f, user, :email, "Enter your email" %>
  <%= form_group f, user, :password, "Enter your Password" %>
  <%= content_tag :div, class:form_group_class+form_group_class_with_buttons do %>
    <%= f.submit "Login", class:login_button_class %>
  <% end %>
  <%= content_tag :div, class:form_group_class+" text-center" do %>
    <small><a href="/signup" class="card-link text-secondary">Don't have an account? Sign up here.</a></small>
  <% end %>
<% end %>
<%= content_tag :div, class:social_options_container do %>
  <%= cell "row justify-content-center", "col-sm-6 d-flex justify-content-between mx-4" do %>
    <%= link_to icon("fa-facebook"), '/auth/facebook',class:facebook_button, method: :post %>
    <%= link_to icon("fa-google"), '/auth/google',class:google_button, method: :post %>
    <%= link_to icon("fa-github"), '/auth/github',class:github_button, method: :post %>
  <% end %>
<% end %>
