<%= form_with model: user, url:login_path do |f| %>

    <%= form_group f, user, :email, "Enter your email" %>

    <%= form_group f, user, :password, "Enter your Password" %>

    <%= content_tag :div, class:form_group_class+" text-center" do %>
        <%= f.submit "Login", class:sign_up_button_class %>
    <% end %>

    <%= content_tag :div, class:form_group_class+" text-center" do %>
        <small><a href="/signup" class="card-link text-light">Don't have an account? Sign up here.</a></small>
    <% end %>

<% end %>