<%= form_with model: user, url:login_path do |f| %>

    <%= form_group f, user, :email, "Enter your email" %>

    <%= form_group f, user, :password, "Enter your Password" %>

    <%= content_tag :div, class:form_group_class+" text-light d-flex justify-content-between px-0 align-items-center" do %>
        <%= f.submit "Login", class:sign_up_button_class %>
        or
        <%= link_to '/auth/facebook',class:sign_up_button_class do %>
        <i class="fa fa-facebook-square" aria-hidden="true"></i> Login With Facebook
        <% end %>
    <% end %>

    <%= content_tag :div, class:form_group_class+" text-center" do %>
        <small><a href="/signup" class="card-link text-light">Don't have an account? Sign up here.</a></small>
    <% end %>

<% end %>