<% title "Welcome to Answerville!" %>

<%= content_tag :div, class:"col-md-8" do %>
  <%= render 'layouts/flash_message' %>

  <%= card do %>
      <%= card_header do %>
          <%= cell "row", "col text-center" do %>
          <%= content_tag :h1, 'Hey! Welcome to @nswerville!', class:"card-title display-3" %>
          <% end %>
      <% end %>

      <%= card_body class:welcome_card_body do %>
          <div class="list-group-item border-0 px-5 text-center" style="background-color: rgba(0,0,0,0.1);">
            <h2 class="card-subtitle display-4" style="font-size:36px;">A place where you can ask and anybody can answer</h2>
          </div>
          <div class="list-group-item py-4 text-center" style="background-color: rgba(0,0,0,0.1);">
            <div class="container-fluid align-items-center" style="display:flex;width:40%;justify-content:space-between;">
              <a href="/login" class="btn btn-lg send-btn" style="color:#fff;border:2px solid #fff;">Login</a> or <a href="/signup" class="btn btn-lg send-btn" style="color:#fff;border:2px solid #fff;">Signup</a>
            </div>
          </div>
      <% end %>
  <% end %>
<% end %>