<%= li class:connections_li do %>
  <%= cell "row justify-content-center", "col-xl-9 align-items-center d-flex justify-content-center flex-wrap" do %>
      <%= render_connections_img(following) %> 
      <span class="pl-4 text-nowrap">
      <%= content_tag :h5, class:'card-title my-auto' do %>
        <%= link_to "@#{following.username}", following, class:"card-link text-light" %>
      <% end %>
      </span>
      <span class="pl-4 text-nowrap">
      <%= render(partial:'followers/form', locals:{user:following}) if following != current_user %>
      </span>
  <% end %>
<% end %>