<div class="<%= yield :card_title_class %>">
  <%= yield :err %>
    <div class="card bg-transparent border-0">
        <div class="card-header text-light border-0 form-transparent">
            <div class="row">
                <div class="col text-center">
                    <h1 class="card-title display-4">
                      <%= yield :card_title %>
                    </h1>
                </div>
            </div>
        </div>
        <div class="<%= yield :custom_class %>">
            <%= yield :card_body %>
        </div>
    </div>
</div>